.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* In your App.css or within Tailwind's utilities */
.header {
  @apply text-3xl font-bold py-6 bg-sky-200;
}

/* Assuming this is within a component */
.todo-item {
  @apply flex justify-between items-center bg-white px-6 py-4 border-b border-gray-200;
  max-width: 50rem;
}

.todo-text {
  @apply text-lg;
  @apply font-semibold;
}

.button {
  @apply text-sm text-blue-500 px-4 py-2 rounded hover:bg-blue-100;
}
.button-red {
  @apply text-sm text-red-500 px-4 py-2 rounded hover:text-red-600 hover:bg-red-100 ml-2;
}

/* General body styling */
body {
  @apply bg-gray-50 min-h-screen flex flex-col;
}

.container {
  @apply max-w-4xl mx-auto py-8;
}

.animate-spin	{
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}